<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="flex h-screen">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="logo"></div>
                <span class="team-name">Team 2 - HMPH</span>
            </div>
            <nav class="nav">
                <a href="/" class="nav-link active">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="nav-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
                    </svg>
                    <span class="nav-text">Dashboard</span>
                </a>
                <a href="/recent-records" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="nav-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
                    </svg>
                    <span class="nav-text">Recent records</span>
                </a>
                <a href="/live-view" class="nav-link">
                    <img src="https://www.svgrepo.com/show/529140/play-stream.svg" class="nav-icon" alt="Live View Icon">
                    <span class="nav-text">Live View</span>
                </a>
                <a href="/chat" class="nav-link">
                    <img src="https://www.svgrepo.com/show/339963/chat-bot.svg" class="nav-icon" alt="Chat Icon">
                    <span class="nav-text">Chat</span>
                </a>
            </nav>
        </div>
        <!-- Main Content -->
        <div class="main-content">
            <div class="header">
                <h1 class="header-title">골목 A</h1>
                <!-- 검색창 제거 -->
            </div>
            <div class="grid">
                <div class="grid-item">
                    <h3 class="chart-title">실시간 인원수 통계</h3>
                    <div class="iframe-container">
                        <iframe width="400" height="300" src="https://lookerstudio.google.com/embed/reporting/c4ca786a-6a89-459b-bbe5-d924e3ba30fc/page/UqF9D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                    </div>
                </div>
                <div class="grid-item">
                    <h3 class="chart-title">시간별 인원 수 Top 3</h3>
                    <div class="iframe-container">
                        <iframe width="600" height="600" src="https://lookerstudio.google.com/embed/reporting/ee30f2b9-7c08-4d01-84fa-6b6fac3ce144/page/4UF9D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                    </div>
                </div>
                <div class="grid-item">
                    <h3 class="chart-title">지난주 인원 수 Top 4</h3>
                    <div class="iframe-container">
                        <iframe width="400" height="300" src="https://lookerstudio.google.com/embed/reporting/d9186628-edf5-4f92-a36a-241ae08b6741/page/8qF9D" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Navigation for Mobile -->
    <div class="bottom-nav">
        <a href="/" class="nav-link active">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="nav-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
            </svg>
        </a>
        <a href="/recent-records" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="nav-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
        </a>
        <a href="/live-view" class="nav-link">
            <img src="https://www.svgrepo.com/show/529140/play-stream.svg" class="nav-icon" alt="Live View Icon">
        </a>
        <a href="/chat" class="nav-link">
            <img src="https://www.svgrepo.com/show/339963/chat-bot.svg" class="nav-icon" alt="Chat Icon">
        </a>
    </div>
</body>
</html>
